@use '../helpers' as *;

.header {
  &__wrapper {
    justify-content: space-between;
    padding-top: fluid(57, 29);
  }
}

.logo {
  display: flex;

  a {
    font-size: fluid(34.058, 23.756);
    font-weight: 800;
    line-height: 109.5%;
    position: relative;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(261deg, #FE9C1C -17.13%, #FF5E2A 86.76%);
      background-clip: text;
      -webkit-background-clip: text;
      transition: opacity 0.4s ease-in-out;
      opacity: 0;
    }
  }

  &:hover {
    a::before {
      opacity: 1;
    }
  }
}

.menu {
  @include tablet {
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    padding: 100px 80px;
    gap: 80px;
    transform: translateX(100%);
    height: 100vh;
    height: 100dvh;
    background-color: #000;
    transition: .5s ease;
    touch-action: pan-y;
  }

  &--open {
    transform: translateX(0%);
  }

  &__list {
    gap: fluid(80, 30);

    @include tablet {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__item {
    position: relative;
    font-size: 17.88px;
    font-weight: 400;
    line-height: 109.5%;
    background: var(--color-gray-light);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;

    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(261deg, #FE9C1C -17.13%, #FF5E2A 86.76%);
      background-clip: text;
      -webkit-background-clip: text;
      transition: opacity 0.4s ease-in-out;
      opacity: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 50%;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      transform: translateX(-50%);
      background: var(--gradient);
      transition: opacity 0.4s ease-in-out;
      opacity: 0;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  .menu-login-btn {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.right-nav {
  gap: 26px;
}

.login-btn {
  font-size: 17.74px;
  color: var(--color-light);
  padding: 11px 56px 10px;

  @include tablet {
    display: none;
  }
}

.bag {
  padding: unset;
  border-radius: fluid(700, 525);
  width: fluid(40, 30);
  height: fluid(40, 30);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: fluid(28, 20);
  }
}

.shadow {
  visibility: hidden;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  touch-action: pan-y;

  &--open {
    opacity: 1;
    visibility: visible;
  }
}